node_modules/
package-lock.json
dist/
lambda.zip
__iac__/.terraform/
__iac__/.terraform.lock.hcl
__iac__/terraform.tfstate
__iac__/terraform.tfstate.backup
__iac__/*.tfplan
*.log
.env
.env.local
.env.*.local
.vscode/
.idea/
.DS_Store
Thumbs.db
tmp/
temp/
